@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #000000;
    font-size: 18px;
    height: 100vh;
    color: white;
}

a.link{
    text-decoration: none;
    color: white;
}

canvas {
    z-index: -1;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(5,4,70,1) 20%, rgba(9,9,121,1) 68%, rgba(7,58,154,1) 90%);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; 
}

.news-main{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.news-main div{
    margin-top: 20px;
    max-width: 350px;
    text-align: center;
    font-size: 18px;
    background: rgba(56, 57, 128, 0.342);
}

.content {
    float: left;
    margin-right: 10px;
}

.content img{
    width: 350px;
    height: 250px;
}

h1.splitting {
    color: #84a8ff;
}

h1.splitting[data-scroll="out"] .char {
    opacity: 0.1;
    transform: translateY(0.25em);
}

body {
    color: white;
}
.page {
    max-width: 30em;
    margin: auto;
    overflow: hidden;
}

#main_title {
    text-align: center;
}

#active {
    opacity: 0.7;
} 

.page{
    font-size: 30px;
}

.search-container {
    width: 490px;
    display: block;
    margin: 0 auto;
}
input#search-bar {
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
}
input#search-bar:focus {
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
}
input#search-bar:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}
input#search-bar:focus::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}
input#search-bar:focus:-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}
.search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -4px;
}

.card {
    position: absolute;
    top: 300px;
    left: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1px;
    border-top: 6px solid red;
    width: 330px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card h2 {
    font-size: 30px;
    margin: 10px;
    margin-bottom: 0;
    font-weight: 600;
}

.card p {
    font-size: 20px;
    font-weight: 400;
}

.card .image {
    background-image: url("https://images.unsplash.com/photo-1552353617-3bfd679b3bdd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
    margin: 5px 0;
    height: 200px;
    width: 100%;
}

.card .date {
    display: flex;
    justify-content: space-between;
    border-top: 2px dashed rgb(158, 158, 158);
    border-bottom: 2px dashed rgb(158, 158, 158);
    margin-top: 10px;
    padding: 5px 0;
}

.card .date p i {
    padding-left: 10px;
}

.card .date p:last-of-type:hover {
    color: gray;
    cursor: pointer;
}

@media only screen and (min-width: 1024px) {

}


@media only screen and (min-width: 1600px) {

}

/* text.css */

h1.splitting {
    color: #84a8ff;
}

h1.splitting[data-scroll="out"] .char {
    opacity: 0.1;
    transform: translateY(0.25em);
}

body {
    color: white;
}
.page {
    max-width: 30em;
    margin: auto;
    overflow: hidden;
}

#main_title {
    text-align: center;
}

#active {
    opacity: 0.7;
} 

.page{
    font-size: 30px;
}

.search-container {
    width: 490px;
    display: block;
    margin: 0 auto;
}
input#search-bar {
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
}
input#search-bar:focus {
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
}
input#search-bar:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}
input#search-bar:focus::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}
input#search-bar:focus:-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}
.search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -4px;
}

/* News Card */

.card {
    position: absolute;
    top: 300px;
    left: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1px;
    border-top: 6px solid red;
    width: 330px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card h2 {
    font-size: 30px;
    margin: 10px;
    margin-bottom: 0;
    font-weight: 600;
}

.card p {
    font-size: 20px;
    font-weight: 400;
}

.card .image {
    background-image: url("https://images.unsplash.com/photo-1552353617-3bfd679b3bdd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
    margin: 5px 0;
    height: 200px;
    width: 100%;
}

.card .date {
    display: flex;
    justify-content: space-between;
    border-top: 2px dashed rgb(158, 158, 158);
    border-bottom: 2px dashed rgb(158, 158, 158);
    margin-top: 10px;
    padding: 5px 0;
}

.card .date p i {
    padding-left: 10px;
}

.card .date p:last-of-type:hover {
    color: gray;
    cursor: pointer;
}

input[class="search__input"]::placeholder {
    color: #ffff;
}

input, select, textarea{
    font-size: 1.5vw;
    color: #ffff;
}

textarea:focus, input:focus {
    color: #ffff;
}

.content {
    width: 30vw;
    position: relative;
    margin: 30px;
}
.search {
    --size: 60px;
    border: 3px solid ;
    display: flex;
    border-radius: 100px;
    overflow: hidden;
    font-size: 1.25em;
    position: relative;
    width: var(--size);
    height: var(--size);
    transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    padding: 3px;
}
.search__input {
    border: 0;
    padding: 0.25em 1em;
    flex-grow: 1;
    outline: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent;
    opacity: 0;
    cursor: pointer;
}
.search__submit {
    font-size: 1.5rem;
    margin-left: auto;
    background: 0;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    width: calc(var(--size) - 10px);
    height: calc(var(--size) - 10px);
    color: #ffff;
}
.search:focus-within {
    width: 100%;
}
.search:focus-within .search__input {
    opacity: 1;
    z-index: initial;
    cursor: initial;
    width: calc(100% - var(--size));
}
.search:focus-within .search__submit {
    background: transparent;
    color: white;
}

