@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

html,body{overflow-y: scroll; }

* {
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #000000;
    font-size: 18px;
    height: 100vh;
    color: white;
}

a.link {
    text-decoration: none;
    color: white;
}

canvas {
    z-index: -1;
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(5, 4, 70, 1) 20%, rgba(9, 9, 121, 1) 68%, rgba(7, 58, 154, 1) 90%);
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.connecting-dots {
    z-index: -1;
    background-image: linear-gradient(90deg, hsl(152deg 70% 16%) 0%, hsl(181deg 75% 7%) 25%, hsl(192deg 91% 1%) 64%, hsl(0deg 0% 0%) 100%);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.news-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news-main div {
    width: 350px;
    font-size: 18px;
    background: rgba(56, 57, 128, 0.342);
}

.content img {
    width: 350px;
    height: 260px;
}

.content a {
    display: flex;
    justify-content: space-around;

}

h1.splitting {
    color: #84a8ff;
}

h1.splitting[data-scroll="out"] .char {
    opacity: 0.1;
    transform: translateY(0.25em);
}

body {
    color: white;
}

.page {
    max-width: 30em;
    margin: auto;
    overflow: hidden;
}

#main_title {
    text-align: center;
}

#active {
    opacity: 0.7;
}

.page {
    font-size: 30px;
}

.search-container {
    width: 490px;
    display: block;
    margin: 0 auto;
}

input#search-bar {
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
}

input#search-bar:focus {
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
}

input#search-bar:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

input#search-bar:focus::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

input#search-bar:focus:-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

.search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -4px;
}


@media only screen and (min-width: 1024px) {

}


@media only screen and (min-width: 1600px) {

}

/* text.css */

h1.splitting {
    color: #84a8ff;
}

h1.splitting[data-scroll="out"] .char {
    opacity: 0.1;
    transform: translateY(0.25em);
}

body {
    color: white;
}

.page {
    max-width: 30em;
    margin: auto;
    overflow: hidden;
}

#main_title {
    text-align: center;
}

#active {
    opacity: 0.7;
}

.page {
    font-size: 30px;
}

.search-container {
    width: 490px;
    display: block;
    margin: 0 auto;
}

input#search-bar {
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
}

input#search-bar:focus {
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
}

input#search-bar:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

input#search-bar:focus::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

input#search-bar:focus:-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

.search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -4px;
}

input[class="search__input"]::placeholder {
    color: #ffff;
}

input, select, textarea {
    font-size: 1.5vw;
    color: #ffff;
}

textarea:focus, input:focus {
    color: #ffff;
}

.content {
    width: 30vw;
    position: relative;
    margin: 30px 30px 30px -10px;
}

.search {
    --size: 50px;
    border: 3px solid;
    display: flex;
    border-radius: 100px;
    overflow: hidden;
    font-size: 1.25em;
    position: relative;
    width: var(--size);
    height: var(--size);
    transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    padding: 3px;
}

.search__input {
    border: 0;
    padding: 0.25em 1em;
    flex-grow: 1;
    outline: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent;
    opacity: 0;
    cursor: pointer;
}

.search__submit {
    font-size: 1.5rem;
    margin-left: auto;
    background: 0;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    width: calc(var(--size) - 10px);
    height: calc(var(--size) - 10px);
    color: #ffff;
}

.search:focus-within {
    width: 100%;
}

.search:focus-within .search__input {
    opacity: 1;
    z-index: initial;
    cursor: initial;
    width: calc(100% - var(--size));
}

.search:focus-within .search__submit {
    background: transparent;
    color: white;
}

/* PLANETS CSS */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.galaxy {
    height: 100%;
    width: 100%;
    box-shadow: 3px 3px 5px #000;
}

.planet {
    border-radius: 50%;
    margin-top: 50vh;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    float: left;
    position: relative;
    cursor: pointer;
    /* box-shadow: 3px 3px 5px #000; */
}

.planet-info {
    display: none;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    border-right-color: rgba(9, 24, 107, 0.753);
    color: white;
    background: rgba(91, 92, 136, 0.541);
    border-radius: 8px;
    padding: 5px;
    font-weight: 900;
    z-index: 100;
    font-family: Helvetica;
    pointer-events: none;
}

.planet-info:before {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 5px);
    right: 100%;
    border: 5px solid transparent;
    border-right-color: rgba(9, 24, 107, 0.322);
}

.planet:hover .planet-info {
    display: block;
}

.sun {
    height: 2000px;
    width: 2000px;
    margin-left: -1950px;
    background: rgb(254, 158, 54);
    box-shadow: 0 0 100px 50px rgba(218, 58, 7, 0.5), inset -10px 10px rgba(255, 255, 255, 0.1);
    z-index: 10;
}

.mercury {
    height: 50px;
    width: 50px;
    background: rgb(156, 156, 156);
    box-shadow: inset -3px 0 0.5px rgba(0, 0, 0, 0.8);
    margin-left: 5px;
    z-index: 9;
}

.venus {
    height: 65px;
    width: 65px;
    background: rgb(171, 101, 34);
    box-shadow: inset -8px 0 1px rgba(0, 0, 0, 0.8);
    margin-left: 4.31px;
    z-index: 8;
}

.earth {
    height: 70px;
    width: 70px;
    background: rgb(6, 62, 125);
    box-shadow: inset -9px 0 1.5px rgba(0, 0, 0, 0.8);
    margin-left: 3.62px;
    z-index: 7;
}

.mars {
    height: 75px;
    width: 75px;
    background: rgb(212, 76, 3);
    box-shadow: inset -4px 0 0.5px rgba(0, 0, 0, 0.8);
    margin-left: 6.72px;
    z-index: 6;
}

.jupiter {
    height: 200px;
    width: 200px;
    background: -webkit-linear-gradient(rgb(154, 144, 127) 15%, rgb(154, 144, 127) 25%, rgb(156, 156, 155) 27%, rgb(156, 156, 155) 45%, rgb(143, 132, 117) 50%, rgb(181, 161, 129) 60%, rgb(181, 161, 129) 80%, rgb(128, 125, 123) 85%);
    background: -moz-linear-gradient(rgb(154, 144, 127) 15%, rgb(154, 144, 127) 25%, rgb(156, 156, 155) 27%, rgb(156, 156, 155) 45%, rgb(143, 132, 117) 50%, rgb(181, 161, 129) 60%, rgb(181, 161, 129) 80%, rgb(128, 125, 123) 85%);
    background: -o-linear-gradient(rgb(154, 144, 127) 15%, rgb(154, 144, 127) 25%, rgb(156, 156, 155) 27%, rgb(156, 156, 155) 45%, rgb(143, 132, 117) 50%, rgb(181, 161, 129) 60%, rgb(181, 161, 129) 80%, rgb(128, 125, 123) 85%);
    background: linear-gradient(rgb(154, 144, 127) 15%, rgb(154, 144, 127) 25%, rgb(156, 156, 155) 27%, rgb(156, 156, 155) 45%, rgb(143, 132, 117) 50%, rgb(181, 161, 129) 60%, rgb(181, 161, 129) 80%, rgb(128, 125, 123) 85%);
    box-shadow: inset -75px 0 25px rgba(0, 0, 0, 0.8);
    margin-left: 47.41px;
    z-index: 5;
}

.saturn {
    height: 167.4px;
    width: 167.4px;
    margin-left: 105.93px;
    z-index: 4;
}

.uranus {
    height: 72.8px;
    width: 72.8px;
    background: rgb(194, 232, 235);
    box-shadow: inset -25px 0 9px rgba(0, 0, 0, 0.8);
    margin-left: 124px;
    z-index: 3;
}

.neptune {
    height: 70.7px;
    width: 70.7px;
    background: rgb(66, 109, 253);
    box-shadow: inset -25px 0 9px rgba(0, 0, 0, 0.8);
    margin-left: 140.26px;
    z-index: 2;
}

.earth {
    background-image: url("http://www.clker.com/cliparts/X/O/z/X/W/L/hatra-decupaj.svg");
    background-size: cover;
}

.mars:before, .mars:after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    border-radius: 50%;
    height: 2px;
    width: 2px;
}

.mars:before {
    top: 2px;
    left: 2px;
}

.mars:after {
    top: 6px;
    left: 4px;
}

.saturn-rings {
    height: 50px;
    width: 340px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotateZ(-10deg);
    -moz-transform: translate(-50%, -50%) rotateZ(-10deg);
    transform: translate(-50%, -50%) rotateZ(-10deg);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(24, 19, 25, 0) 0%, rgba(53, 52, 51, 0) 34%, rgba(55, 54, 52, 1) 36%, rgba(56, 55, 53, 1) 37%, rgba(68, 67, 66, 1) 38%, rgba(56, 55, 53, 1) 39%, rgba(68, 67, 66, 1) 40%, rgba(56, 55, 53, 1) 41%, rgba(87, 77, 76, 1) 42%, rgba(87, 77, 76, 1) 44%, rgba(113, 110, 103, 1) 46%, rgba(113, 110, 103, 1) 48%, rgba(113, 98, 93, 1) 49%, rgba(113, 98, 93, 1) 51%, rgba(122, 115, 105, 1) 52%, rgba(113, 98, 93, 1) 53%, rgba(113, 98, 93, 1) 54%, rgba(122, 115, 105, 1) 55%, rgba(106, 99, 89, 1) 56%, rgba(106, 99, 89, 1) 58%, rgba(79, 76, 76, 0) 60%, rgba(65, 64, 70, 1) 61%, rgba(65, 64, 70, 1) 62%, rgba(90, 85, 89, 1) 63%, rgba(78, 74, 73, 1) 65%, rgba(78, 73, 74, 1) 67%, rgba(78, 73, 74, 0) 68%, rgba(78, 73, 75, 1) 69%, rgba(78, 73, 75, 1) 70%, rgba(78, 73, 76, 0) 71%, rgba(77, 72, 76, 0) 72%, rgba(24, 19, 25, 0) 100%);
    background: -moz-radial-gradient(center, ellipse cover, rgba(24, 19, 25, 0) 0%, rgba(53, 52, 51, 0) 34%, rgba(55, 54, 52, 1) 36%, rgba(56, 55, 53, 1) 37%, rgba(68, 67, 66, 1) 38%, rgba(56, 55, 53, 1) 39%, rgba(68, 67, 66, 1) 40%, rgba(56, 55, 53, 1) 41%, rgba(87, 77, 76, 1) 42%, rgba(87, 77, 76, 1) 44%, rgba(113, 110, 103, 1) 46%, rgba(113, 110, 103, 1) 48%, rgba(113, 98, 93, 1) 49%, rgba(113, 98, 93, 1) 51%, rgba(122, 115, 105, 1) 52%, rgba(113, 98, 93, 1) 53%, rgba(113, 98, 93, 1) 54%, rgba(122, 115, 105, 1) 55%, rgba(106, 99, 89, 1) 56%, rgba(106, 99, 89, 1) 58%, rgba(79, 76, 76, 0) 60%, rgba(65, 64, 70, 1) 61%, rgba(65, 64, 70, 1) 62%, rgba(90, 85, 89, 1) 63%, rgba(78, 74, 73, 1) 65%, rgba(78, 73, 74, 1) 67%, rgba(78, 73, 74, 0) 68%, rgba(78, 73, 75, 1) 69%, rgba(78, 73, 75, 1) 70%, rgba(78, 73, 76, 0) 71%, rgba(77, 72, 76, 0) 72%, rgba(24, 19, 25, 0) 100%);
    background: radial-gradient(ellipse at center, rgba(24, 19, 25, 0) 0%, rgba(53, 52, 51, 0) 34%, rgba(55, 54, 52, 1) 36%, rgba(56, 55, 53, 1) 37%, rgba(68, 67, 66, 1) 38%, rgba(56, 55, 53, 1) 39%, rgba(68, 67, 66, 1) 40%, rgba(56, 55, 53, 1) 41%, rgba(87, 77, 76, 1) 42%, rgba(87, 77, 76, 1) 44%, rgba(113, 110, 103, 1) 46%, rgba(113, 110, 103, 1) 48%, rgba(113, 98, 93, 1) 49%, rgba(113, 98, 93, 1) 51%, rgba(122, 115, 105, 1) 52%, rgba(113, 98, 93, 1) 53%, rgba(113, 98, 93, 1) 54%, rgba(122, 115, 105, 1) 55%, rgba(106, 99, 89, 1) 56%, rgba(106, 99, 89, 1) 58%, rgba(79, 76, 76, 0) 60%, rgba(65, 64, 70, 1) 61%, rgba(65, 64, 70, 1) 62%, rgba(90, 85, 89, 1) 63%, rgba(78, 74, 73, 1) 65%, rgba(78, 73, 74, 1) 67%, rgba(78, 73, 74, 0) 68%, rgba(78, 73, 75, 1) 69%, rgba(78, 73, 75, 1) 70%, rgba(78, 73, 76, 0) 71%, rgba(77, 72, 76, 0) 72%, rgba(24, 19, 25, 0) 100%);
}

.saturn-top, .saturn-bottom {
    height: 100%;
    width: 100%;
    position: absolute;
    background: -webkit-linear-gradient(rgb(95, 88, 79) 5%, rgb(144, 129, 101) 6%, rgb(144, 129, 101) 15%, rgb(213, 184, 133) 20%, rgb(210, 175, 119) 25%, rgb(210, 175, 119) 45%, rgb(254, 208, 133) 50%, rgb(254, 208, 133) 75%, rgb(149, 136, 114) 85%);
    background: -moz-linear-gradient(rgb(95, 88, 79) 5%, rgb(144, 129, 101) 6%, rgb(144, 129, 101) 15%, rgb(213, 184, 133) 20%, rgb(210, 175, 119) 25%, rgb(210, 175, 119) 45%, rgb(254, 208, 133) 50%, rgb(254, 208, 133) 75%, rgb(149, 136, 114) 85%);
    background: -o-linear-gradient(rgb(95, 88, 79) 5%, rgb(144, 129, 101) 6%, rgb(144, 129, 101) 15%, rgb(213, 184, 133) 20%, rgb(210, 175, 119) 25%, rgb(210, 175, 119) 45%, rgb(254, 208, 133) 50%, rgb(254, 208, 133) 75%, rgb(149, 136, 114) 85%);
    background: linear-gradient(rgb(95, 88, 79) 5%, rgb(144, 129, 101) 6%, rgb(144, 129, 101) 15%, rgb(213, 184, 133) 20%, rgb(210, 175, 119) 25%, rgb(210, 175, 119) 45%, rgb(254, 208, 133) 50%, rgb(254, 208, 133) 75%, rgb(149, 136, 114) 85%);
    border-radius: 50%;
    top: 0;
    left: 0;
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
    box-shadow: inset -60px 0 20px rgba(0, 0, 0, 0.8);
}

.saturn-top {
    clip: rect(0px, 167px, 83.5px, 0px);
}

.saturn-bottom {
    clip: rect(83.5px, 167px, 167px, 0px);
}

/** Todo: add shadows to  dbl planets */

.leading{
    display: flex;
    flex-direction: column;
}

.latest {

    overflow-y: auto;
    margin: 30px;
    color: #ffff;
    background-image: url("../images/saturn.png");
    background-size: cover;
    padding: 2rem 0 0;
    max-width: 35ch;
    border-radius: .5rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

.latest-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(hsl(0 0% 0% / 0), hsl(20 0% 0% / .3) 20%, hsl(0 0% 0% / 1));
    transform: translateY(60%);
    transition: transform 500ms ease;
}

.latest-title {
    margin: 30px;
    word-wrap: break-word;
}

.latest:hover .latest-content {
    transform: translateY(0);
    transition-delay: 500ms;
}

.latest-content > *:not(.latest-title) {
    opacity: 0;
    transition: opacity 500ms linear;
}

.latest:hover .latest-content > *:not(.latest-title) {
    opacity: 1;
    transition-delay: 750ms;
}

.latest-title {
    position: relative;
    width: max-content;
}

.latest-title::after {
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    width: calc(100% + var(--padding));
    bottom: -2px;
    background: #000675;
    transition: transform 500ms ease;
    transform-origin: left;
    transform: scaleX(0);
}

.latest:hover {
    transform: scale(1.05);
}

.latest:hover .latest-title::after {
    transform: scaleX(1);
}

.button {
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: white;
    background-color: #000675;
    padding: 0.5em 1.25em;
    border-radius: .25rem;
    overflow: hidden;
}

.button:hover, .button:focus {
    background-color: white;
    color: black;
}
