<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <title>SpaceS</title>
    <style>
        html,body{overflow-y: scroll; }
    </style>
</head>

<body>
<canvas class='connecting-dots1'></canvas>
<nav class="nav">
    <!--<img src="images/Space_S.png" alt="logo"> -->
    <div class="logo">
        <h4>Space [S]</h4>
    </div>
    <div class="content">
        <div class="search">
            <input type="text" class="search__input" aria-label="search" placeholder="Search for news">
            <button id="submit_btn" class="search__submit" aria-label="submit search" onclick="redirect()"><i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <ul class="nav-links">
        <li><a href="/" id="active" class="link">Home</a></li>
        <li><a href="/entertainment" class="link">Entertainment</a></li>
        <li><a href="/solar_system" class="link">Solar_System</a></li>
        <li><a href="/about" class="link">About</a></li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <script src="../static/js/burger.js"></script>
</nav>
<!--<div class="content">
    <div class="search">
        <input type="text" class="search__input" aria-label="search" placeholder="Search for news">
        <button id="submit_btn" class="search__submit" aria-label="submit search" onclick="redirect()"><i class="fas fa-search"></i>
        </button>
    </div>
</div>-->
<h1 style="margin: 30px">Latest</h1>
<div class="leading">
    <div class="latest">
        <div class="latest-content">
            <h1 class="latest-title">People on mars</h1>
            <p class="latest-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis consequuntur
                cupiditate distinctio dolorem duc.</p>
            <a href="#" class="button">Learn more</a>
        </div>
    </div>
    <div class="latest">
        <div class="latest-content">
            <h1 class="latest-title">People on mars</h1>
            <p class="latest-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis consequuntur
                cupiditate distinctio dolorem duc.</p>
            <a href="#" class="button">Learn more</a>
        </div>
    </div>
</div>
</body>
<script src="../static/js/redirecting.js"></script>
<script src="../static/js/text.js"></script>
<script src="../static/js/canvas.js"></script>
<script src="https://kit.fontawesome.com/75aeac7df4.js" crossorigin="anonymous"></script>
<script src="script.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</html>