<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="text.css">
    <title>SpaceS</title>
</head>
<body>
    <canvas class='connecting-dots'></canvas>
    <nav class = "nav">
        <!--<img src="images/Space_S.png" alt="logo"> -->
        <div class="logo">
            <h4>Space [S]</h4>
        </div>
        <ul class="nav-links">
            <li><a href="index.html" id="active" class="link">Home</a></li>
            <li><a href="news.html" class="link">News</a></li>
            <li><a href="solar_system.html" class="link">Solar_System</a></li>
            <li><a href="about.html" class="link">About</a></li>
        </ul>
        
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <script src="burger.js"></script>
    </nav>

    <h1 id = "main_title"><br>WELCOME TO SPACE S!</h1>

    <div class="news-main">

        <div class = "content">
            <img src="https://images.unsplash.com/photo-1552353617-3bfd679b3bdd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80">
            <a class="text">Elon Musk got noscoped</a>
        </div>
        <div class = "content">
            <img src="https://images.unsplash.com/photo-1552353617-3bfd679b3bdd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80">
            <a class="text">When we were in the wering because we were</a>
        </div>
    </div>
</body>

<script src = "canvas.js"></script>

</html>