<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <title>SpaceS</title>
    <style>
        html,body{overflow-y: scroll; }
    </style>
</head>

<body>
<canvas class='connecting-dots1'></canvas>
<nav class="nav">
    <!--<img src="images/Space_S.png" alt="logo"> -->
    <div class="logo">
        <h4>Space [S]</h4>
    </div>
    <div class="content">
        <div class="search">
            <input type="text" class="search__input" aria-label="search" placeholder="Search for news">
            <button id="submit_btn" class="search__submit" aria-label="submit search" onclick="redirect()"><i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <ul class="nav-links">
        <li><a href="/" id="active" class="link">Home</a></li>
        <li><a href="/entertainment" class="link">Entertainment</a></li>
        <li><a href="/solar_system" class="link">Solar_System</a></li>
        <li><a href="/about" class="link">About</a></li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <script src="../static/js/burger.js"></script>
</nav>
<!--<div class="content">
    <div class="search">
        <input type="text" class="search__input" aria-label="search" placeholder="Search for news">
        <button id="submit_btn" class="search__submit" aria-label="submit search" onclick="redirect()"><i class="fas fa-search"></i>
        </button>
    </div>
</div>-->

<div class = "leading-news-class">
    <div class="leading">
        <h1 style="margin: 30px" class="centerr">Latest</h1>
        <div class="latest">
            <div class="latest-content">
                <h1 class="latest-title">{{title0}}</h1>
                <p class="latest-body"  herf="#">{{data0}}</p>
                <p class = "url" style="display: none;">{{link0}}</p>
            </div>
        </div>
        <div class="latest">
            <div class="latest-content">
                <h1 class="latest-title">{{title1}}</h1>
                <p class="latest-body"  herf="#">{{data1}}</p>
                <p class = "url" style="display: none;">{{link1}}</p>
            </div>
        </div>
    </div>
    <div class="leading">
        <h1 style="margin: 30px" class="centerr">Top</h1>
        <div class="latest">
            <div class="latest-content">
                <h1 class="latest-title">{{title2}}</h1>
                <p class="latest-body"  herf="#">{{data2}}</p>
                <p class = "url" style="display: none;">{{link2}}</p>
            </div>
        </div>
        <div class="latest">
            <div class="latest-content">
                <h1 class="latest-title">{{title3}}</h1>
                <p class="latest-body"  herf="#">{{data3}}</p>
                <p class = "url" style="display: none;">{{link3}}</p>
            </div>
        </div>
    </div>

    <div class="leading">
        <h1 style="margin: 30px" class="centerr">Latest</h1>
        <div class="latest">
            <div class="latest-content">
                <h1 class="latest-title">{{title4}}</h1>
                <p class="latest-body"  herf="#">{{data4}}</p>
                <p class = "url" style="display: none;">{{link4}}</p>
            </div>
        </div>
        <div class="latest">
            <div class="latest-content">
                <h1 class="latest-title">{{title5}}</h1>
                <p class="latest-body"  herf="#">{{data5}}</p>
                <p class = "url" style="display: none;">{{link5}}</p>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../static/js/redirecting.js"></script>
<script src="../static/js/text.js"></script>
<script src="../static/js/canvas.js"></script>
<script src="https://kit.fontawesome.com/75aeac7df4.js" crossorigin="anonymous"></script>
<script src="script.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</html>