<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <title>SpaceS</title>
</head>

<body>
    <canvas class='connecting-dots'></canvas>
    <nav class="nav">
        <!--<img src="images/Space_S.png" alt="logo"> -->
        <div class="logo">
            <h4>Space [S]</h4>
        </div>
        <ul class="nav-links">
            <li><a href="index.html" class="link">Home</a></li>
            <li><a href="news.html" id="active"bclass="link">News</a></li>
            <li><a href="solar_system.html" class="link">Solar_System</a></li>
            <li><a href="about.html" class="link">About</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <script src="../static/js/burger.js"></script>
    </nav>
    <!-- Search bar and page title -->
    <div class="content">
        <div class="search">
            <input type="text" class="search__input" aria-label="search" placeholder="Search for news">
            <button class="search__submit" aria-label="submit search"><i class="fas fa-search"></i></button>
        </div>
    </div>
    <div class="card">
        <h2>Title</h2>
        <div class="image"></div>
        <!-- Some random text -->
        <p>Elon Musk built the first house on Mars!</p>
        <div class="date">
            <p>20 April 2069</p>
            <p>Learn More <i class="learn_more"></i></p>
        </div>
    </div>
</body>
<script src="../static/js/text.js"></script>
<script src="../static/js/canvas.js"></script>
<script src="https://kit.fontawesome.com/75aeac7df4.js" crossorigin="anonymous"></script>
<script src = "script.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</html>