<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <title>SpaceS</title>
</head>

<body>
<canvas class='connecting-dots'></canvas>
<nav class="nav">
    <!--<img src="images/Space_S.png" alt="logo"> -->
    <div class="logo">
        <h4>Space [S]</h4>
    </div>
    <ul class="nav-links">
        <li><a href="/" class="link">Home</a></li>
        <li><a href="/entertainment" class="link">Entertainment</a></li>
        <li><a href="/solar_system" id="active" class="link">Solar_System</a></li>
        <li><a href="/about" class="link">About</a></li>
    </ul>

    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <script src="../static/js/burger.js"></script>
</nav>
<div class="galaxy">
    <div class="planet sun">
        <div class="planet-info">Sun</div>
    </div>
    <div class="planet mercury">
        <div class="planet-info">Mercury</div>
    </div>
    <div class="planet venus">
        <div class="planet-info">Venus</div>
    </div>
    <div class="planet earth">
        <div class="planet-info">Earth</div>
    </div>
    <div class="planet mars">
        <div class="planet-info">Mars</div>
    </div>
    <div class="planet jupiter">
        <div class="planet-info">Jupiter</div>
    </div>
    <div class="planet saturn">
        <div class="planet-info">Saturn</div>
        <div class="saturn-bottom"></div>
        <div class="saturn-rings"></div>
        <div class="saturn-top"></div>
    </div>
    <div class="planet uranus">
        <div class="planet-info">Uranus</div>
    </div>
        <div class="planet neptune">
        <div class="planet-info">Neptune</div>
    </div>
</div>
</body>
<script src="../static/js/canvas.js"></script>

</html>